<!doctype >
<html>
<head>
	<meta charset="UTF-8" />
	<title>Kontrolna plo&scaron;ča</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="naslovniDel">
	<h1>Kontrolna plošča</h1>
</div>
<div id="status">
	<h3>Status plošča</h3>
</div>
<div id="kontroleTabele">
	<h3>Kontrola baze</h3>
</div>
</body>
</html>
