<!DOCTYPE >
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <!--<meta http-equiv="refresh" content="5">-->
    <title>Kontrolna plošča</title>
    <!--<link href="../css/style.css" rel="stylesheet" type="text/css">-->
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  </head>
  <body  >
    <div id="naslovniDel">
      <h1 class="padd10">Kontrolna plošča</h1>
    </div>
    <div id="status"> <span>
        <div id="statusInnards1" class="internalSection padd10l  borderbox">
          <h3>Status plošča (WIP)</h3>
          <p class="alertText"> <% if(testSeIzvaja) {%> TEST SE ŽE IZVAJA! <%} else {}%></p>
        </div>
        <div id="statusInnards2" class="internalSection  padd10l borderbox">
          <h3>Kontrola testov: (WIP)</h3>
          <form method="post" action="/manager/zacniTestiranje">
            <p class="inline">število aktivnih senzorjev:</p>  <input id="tfStAktSenz" type="text" name="aktSenzorji" class="inline">
            <br>
            <p class="inline">refresh rate:</p>  <input id="tfRefRate" type="text" name="RefreshRate" class="inline">
            <br>
            <p class="inline">send delay:</p>  <input id="tfSenDel" type="text" name="SendDelay" class="inline">
            <hr>
            <p class="inline">Tip testa:</p><seldiv><select id="izbiraTesta" class="inline" name="izbiraTesta">
                <option value="TestniVnos">TestniVnos</option>
            </select></seldiv>
            <br>
            <p class="inline">Število zaporednih testov:</p> <input id="tfStZapTest" type="text" name="stZaporedTestov" class="inline">
            <hr>
            <input id="btZacTest" type="submit" value="Zaženi test" name="btZazeniTest">
          </form>
          <br>
        </div>
      </span> </div>
    <div id="kontroleTabele">
      <div id="kontrlinnards" class="internalSection padd10l">
        <h3>Kontrola baze (WIP)</h3>
        <form method="post" action="/manager/test">
          <input id="btPostTabelo" type="submit" value="Postavi tabelo" >
        </form>
        <form method="post" action="/manager/test">
          <input id="btUnicTabelo" type="submit" value="Uniči tabelo" >
        </form>
      </div>
    </div>
      <script>
      <% if(testSeIzvaja){ %>
          $("#tfStAktSenz").attr("disabled", true);
          $("#btZacTest").attr("disabled", true);
          $("#tfStZapTest").attr("disabled", true);
          $("#izbiraTesta").attr("disabled", true);
          $("#btPostTabelo").attr("disabled", true);
          $("#btUnicTabelo").attr("disabled", true);
      <% } else { %>
          $("#tfStAktSenz").attr("disabled", false);
          $("#btZacTest").attr("disabled", false);
          $("#tfStZapTest").attr("disabled", false);
          $("#izbiraTesta").attr("disabled", false);
          $("#btPostTabelo").attr("disabled", false);
          $("#btUnicTabelo").attr("disabled", false);
      <%}%> 
      $("#tfStAktSenz").val("<%= stAktivnihSenzorjev %>") 
      </script>
  </body>
</html>
