body{
	background-color: #ebf9a9;
	width: 100%;
	height: 100%;
	padding: 0px;
}
seldiv{
	margin-left: 20px;
}
.padd10l{
	padding-left: 10px;
}
.padd5l{
	padding-left: 5px;
}
.border1{
	border-color: #242810;
	border-width: 1px;
	border-style: inset;
	border-radius: 5px;
}
.inline{
	display: inline-block;
}
 
.floatl{
	float: left;
}

.floatr{
	float: right;
}
.height100p{
	height: 100;
}

.width50p{
	width: 50%;
}
.width90p{
	width: 90%;
}
.width40p{
	width: 40%;
}
.borderbox{
	 box-sizing: border-box;
}
.internalSection{
	background-color: #FFff96;
	border-color: #242810;
	border-width: 1px;
	border-style: inset;
	border-radius: 5px;
}

#status{
	background-color: ##87963c;
	border-color: #242810;
	border-width: 1px;
	border-style: inset;
	border-radius: 5px;
	width: 100%;
}
#statusInnards{
	background-color: #ecff96;
	border-color: #242810;
	border-width: 1px;
	border-style: inset;
	border-radius: 5px;
}

#kontroleTabele{
	background-color: green;
}